<div class="top">
  <div class="caption">
    <h5>  ...saved articles</h5>
  </div>
</div>

<div class="container saved">
  <ul>  
      {{> articles/saved-block saved=true}}              
  </ul>
</div>
